html {
    height: 100%;
    width: 100%;

    body {
        width: 100%;
        height: 100%;
        margin: 0;
    }
}

.login-page {
    .login-form {
        div {
            display: flex;
            flex-direction: column;
            align-items: center;

            :not(:first-child) {
                margin-top: 6px;
            }

            .login-text {
                border-radius: 3px;
                width: 150px;
            }

            .login-submit {
                width: 80px;
                border-radius: 3px;
            }

            #login-error {
                color: var(--error-color)
            }
        }

        .login-remember-me {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
        }
    }
}

.browser-page {
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        background-color: var(--scrollbar-background);
    }

    ::-webkit-scrollbar-track-piece {
    }

    ::-webkit-scrollbar-button {
        display: none;
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb);
    }

    ::-webkit-scrollbar-corner {
        background-color: transparent;
    }

    #fade-parent {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

        #browser-top-bar {
            position: sticky;
            top: 0;
            z-index: 1;
            background-color: var(--base-bg-color);
            min-height: 30px;
            height: 30px;
            display: flex;
            border-bottom: 1px solid;

            #browser-user-info {
                margin: auto 5px auto auto;
                cursor: pointer;

                a {
                    text-decoration: none;
                }
            }
        }

        #browser-parent {
            display: flex;
            flex-grow: 1;
            min-height: 0;

            #file-browser-left {
                min-width: 0;
                margin: 5px;
                flex-basis: 65%;
                display: flex;
                flex-direction: column;

                #file-browser-current-directory {
                    background-color: rgba(255,255,255,.1);
                    padding: 5px;
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;
                    display: flex;
                    align-items: center;

                    #file-browser-current-directory-input {
                        width: 100%;
                        border: 1px solid;
                        margin-left: 5px;
                        padding: 3px;
                        background-color: transparent;
                        color: var(--base-font-color);
                        border-radius: 3px;
                    }
                }

                #file-browser-listing {
                    /*border-top: 1px solid;*/
                    background-color: rgba(255,255,255,.05);
                    padding: 5px;
                    display: flex;
                    flex-grow: 1;
                    overflow: auto;

                    .file-browser-root {
                        margin: 5px 0;
                        list-style-type: none;
                        padding-left: 0;

                        li {
                            list-style-type: none;
                            padding-left: 10px;
                        }

                        ul {
                            padding-left: 20px;
                        }

                        .file-browser-item {
                            padding: 1px 5px 1px 0;
                            display: flex;
                            align-items: center;
                        }

                        .file-browser-icon {
                            filter: var(--icon-filter);
                            margin-right: 5px;
                            user-select: none;

                            &.file-browser-icon-folder {
                                cursor: pointer;
                            }

                            &.file-browser-icon-file {
                                cursor: default;
                            }
                        }

                        .file-browser-name {
                            cursor: pointer;
                            white-space: nowrap;
                            cursor: pointer;
                            user-select: none;
                        }
                    }
                }

                #file-browser-error {
                    background-color: rgba(255,255,255,.05);
                    height: var(--base-font-size);
                    min-height: var(--base-font-size);
                    padding: 5px;
                    border-top: 1px solid var(--base-font-color);
                    border-bottom-left-radius: 3px;
                    border-bottom-right-radius: 3px;
                    color: var(--error-color);

                    div {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        word-break: break-all;
                    }
                }
            }

            #file-browser-right {
                min-width: 0;
                margin: 5px;
                flex-basis: 35%;
                display: flex;
                flex-direction: column;

                .file-browser-selected-file-info-title {
                    margin: 0 auto;
                    padding: 5px;
                }

                .file-browser-selected-file-info-info {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .selected-file-info-item {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        width: 80%;
                        justify-content: space-between;
                        margin-bottom: 5px;

                        .selected-file-info-item-title {
                            max-width: 40%;
                            text-align: left;
                        }

                        .selected-file-info-item-data {
                            max-width: 60%;
                            text-align: right;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }

                        .selected-file-info-download {
                        }

                        .selected-file-info-button {
                            margin: auto;
                            margin-top: 5px;
                        }
                    }
                }
            }

            @media screen and (max-width: 736px) {
                flex-direction: column;

                #file-browser-left {
                }
            }
        }
    }

    #click-catcher {
        background-color: #000000;
        opacity: 0.7;
        position: fixed;
        z-index: 15;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    #modal-container {
        position: fixed;
        z-index: 16;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .modal {
        background-color: var(--base-bg-color);
        color: var(--base-font-color);
        min-height: 150px;
        width: 350px;
        position: relative;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 0px 20px 3px #070707;
        border-radius: 7px;
        box-sizing: border-box;
        padding: 10px;
    }

    .confirm-modal {
        text-align: center;
    }

    .change-password-modal {
        text-align: center;

        .change-password-inputs {
            width: 100%;

            input {
                width: 100%;
                margin-bottom: 5px;
            }
        }
    }

    #modal-buttons {
        bottom: 0;
        margin-top: auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        min-height: 21px;
    }

    @media screen and (max-width: 812px) {
        #modal-container {
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            transform: none;
        }

        .modal {
            width: 100%;
            height: 100%;
            border-radius: 0;
        }
    }
}
